* {
    font-family: 'Roboto', sans-serif;
  }

html, body {
    margin: 0;
    padding: 0;
}

header {
    min-height: 500px;
    width: 100%;
    position: relative;
    overflow: visible;
}

.clippedHead {
    position: absolute;
    inset: 0;
    background-color: #0891B2;
    min-height: 500px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    z-index: -1;

}

.aboutMeContainer {
    padding: calc(0.75rem + 0.5vw);
    max-width: 720px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.3);
}

.aboutMeContainer > div {
    display: flex;
    justify-content: right;
    gap: calc(0.75rem + 0.5vw);
    margin-right: calc(0.75rem + 0.5vw);
}

.aboutMeContainer > p , h1 {
    font-size: 1rem;
}

.socials {
    transition: transform .5s 0s;
}

.socials:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.headerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(3rem + 0.5vw);
}

.bigscreenMe {
    max-width: 28rem;
}

.smallscreenMe {
    display: none;
}

section {
    padding: 0 calc(3rem + 4vw);
}

section > h2 {
    margin: auto;
    max-width: calc(3 * 350px + 2 * 2rem);
}


.grid-cards {
    display: grid;
    max-width: calc(3 * 350px + 2 * 2rem);
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    margin: auto;
}

.projectPlaceHolder {
    background-color: yellow;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red { background-color: #9E1C1C; }
.purple { background-color: #7C75CA; }
.green { background-color: #5E8F4D; }
.pink { background-color: #C363B4; }
.orange { background-color: #D88F39; }
.blue { background-color: #4BA2D2; }

.projectPlaceHolder > p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.projectInfo {
    background-color: white;
    box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectInfo > div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.projectInfo > div > div {
    display: flex;
    gap: 1rem;
}

.projectInfo > p {
    font-size: 1rem;
    padding: .5rem;
}

.titleDiv {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    min-height: 450px;
    width: 100%;
    background-color: #0891B2;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

footer > div {
    padding: 0;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > div > * {
    margin: 0;
    padding: 0;
}

footer > div > h4 {
    font-size: 2rem;
    color: white;
}

footer > div > p, footer > div > div > p {
    font-size: 1.3rem;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}


@media (min-width: 1840px) {
    .grid-cards {
        grid-template-columns: repeat(3, minmax(150px, 350px));
    }
}

@media (max-width: 1360px) {
    footer {
        flex-direction: column;
        padding: 5rem 0;
    }
}

@media (max-width: 1256px) {
    .aboutMeContainer {
        margin: 10rem auto;
        max-width: 60vw;
    }

    .smallscreenMe {
        display: block;
        float: left;
        margin-top: -10rem;
        margin-left: -5rem;
        max-width: 35vw;
        height: auto;
        z-index: 55;
        padding: .5rem;
    }

    .bigscreenMe {
        display: none;
    }
}

@media (max-width: 895px) {
    .bigscreenMe {
        display: block;
        max-width: 80vw;
    }

    .smallscreenMe {
        display: none;
    }

    .headerFlex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .aboutMeContainer {
        margin: auto;
    }
}