* {
    font-family: 'Roboto', sans-serif;
  }

html, body {
    margin: 0;
    padding: 0;
}

header {
    min-height: 500px;
    width: 100%;
    position: relative;
    overflow: visible;
}

.clippedHead {
    position: absolute;
    inset: 0;
    background-color: #0891B2;
    min-height: 500px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    z-index: -1;

}

.aboutMeContainer {
    padding: calc(0.75rem + 0.5vw);
    max-width: 720px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.3);
}

.aboutMeContainer > div {
    display: flex;
    justify-content: right;
    gap: calc(0.75rem + 0.5vw);
    margin-right: calc(0.75rem + 0.5vw);
}

.aboutMeContainer > p , h1 {
    font-size: 1rem;
}

.socials {
    transition: transform .5s 0s;
}

.socials:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.headerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(3rem + 0.5vw);
}

section {
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

section > div {
    max-width: 1200px;
    display: flex;
    gap: 50px;
}

.projectPlaceHolder {
    background-color: yellow;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red { background-color: #9E1C1C; }
.purple { background-color: #7C75CA; }
.green { background-color: #5E8F4D; }
.pink { background-color: #C363B4; }
.orange { background-color: #D88F39; }
.blue { background-color: #4BA2D2; }

.projectPlaceHolder > p {
    text-align: center;
    color: white;
    font-size: 30px;
}

.projectInfo {
    background-color: white;
    box-shadow: 0 0 8px 2px rgba(128, 128, 128, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectInfo > div {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.projectInfo > div > div {
    display: flex;
    gap: 15px;
}

.projectInfo > p {
    font-size: 14px;
}

.titleDiv {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

footer {
    display: flex;
    min-height: 450px;
    width: 100%;
    background-color: #0891B2;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

footer > div {
    padding: 0;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > div > * {
    margin: 0;
    padding: 0;
}

footer > div > h4 {
    font-size: 30px;
    color: white;
}

footer > div > p, footer > div > div > p {
    font-size: 20px;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
